# things to ignore
.DS_Store
venv
.venv
data
graph
tokens
*.out
logs
*ipyn*
images
__py*
config.ini
conf/env.sh
.ignore
*pickle*
*.csv
.idea
.env
*.pem
*.crt
*.key
*282500*.json
*key*.json
options-rs/target
options-rs/Cargo.lock
